<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>

  <!--<connectionStrings>
    <add name="UnityConnectionString" connectionString="Data Source=Q061TCMSQLS01.dqscust.local\TCMS;Initial Catalog=TCMS21;Integrated Security=false;User ID=DQSCust\sthotakura;Password=Welcome123Epiq!" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  
  <specFlow>    
    <generator allowDebugGeneratedFiles="false" />    
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="NUnit" />
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --></specFlow>
  <appSettings>
    <!--  basic browser process settings -->
    <add key="Browser" value="Chrome" />
    <add key="DriverPath" value=".\Resources" /> <!-- Use backslash "\" to ensure the driver is found in path -->
    <add key="DriverPort" value="53996" />
    
    <!--  application specific settings -->
    <add key="PortalURL" value="http://unity-tnetqa.epiqsystems.com/login" /> 
    <add key="DBConnectionString" value="Data Source=D061TCMSQLS01.dqscust.local\TCMS;Initial Catalog=TCMS21;Integrated Security=true;trusted_connection=true" />
    <add key="User" value="Automation" />  
    <add key="Password" value="Automation1!" />
    <add key="Office" value="crose" />    
    <add key="OfficeName" value="JohnQ" />
    
    <add key="superadmin-user" value="conversion" />    
    <add key="superadmin-password" value="conversion" />
    <add key="superadmin-office" value="crose" />    
    
    <add key="non-superadmin-user" value="QAutomation2" />    
    <add key="non-superadmin-password" value="Welcome123456Epiq!" />
    <add key="non-superadmin-office" value="KNR" /> 
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>